@import "../../responsive.scss";
.homePage {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  @include sm {
    height: initial;
    overflow-y: scroll;
  }
  .textContainer {
    // width: 60%;
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    justify-content: center;
    h1 {
      font-size: 64px;
      font-weight: bold;
      @include sm {
        font-size: 30px;
      }
    }
    .description {
      @include sm {
        font-size: 12px;
      }
    }
    .boxes {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 34px;
      }
      h2 {
        font-size: 20px;
        font-weight: 300;
        @include sm {
          font-size: 16px;
        }
      }
    }
    @include md {
      padding: 30px;
      padding-top: 60px;
      height: initial;
    }
    @include sm {
      gap: 20px;
      padding: 20px;
      padding-top: 60px;
      height: 100vh;
    }
  }
  .imgContainer {
    width: 40%;
    background-color: #fcf5f3;
    height: 100%;
    position: relative;
    @include md {
      display: none;
    }
    img {
      width: 105%;
      position: absolute;
      right: 0;
    }
  }
}
